<section id="search">
    <div class="search-inner">
        <div class="shop-name">WINGS</div>
        <div class="form-search">
            <form>
                <div class="input-append">
                    <input type="text" class="search-query" placeholder="What do you want...">
                    <button type="submit" class="add-on"><img src="../assets/images/search.png"/></button>
                </div>
            </form>
            <a href="#" class="cart"><img src="../assets/images/cart.png" /></a>
        </div>
    </div>
</section>