<section class="home">
    <section class="home third-thumbail">
        <div class="third-thumbail-inner">
            <div class="third-thumbail-inner-item">
                <img src="../assets/images/thumbail1.jpg">
                <div class="thumbail-title">Cool Fashion</div>
                <div class="darker-image"><span>BUY NOW</span></div>
            </div>
            <div class="third-thumbail-inner-item">
                <img src="../assets/images/thumbail2.jpg">
                <div class="thumbail-title">Office Fashion</div>
                <div class="darker-image"><span>BUY NOW</span></div>
            </div>
            <div class="third-thumbail-inner-item">
                <img src="../assets/images/thumbail3.jpg">
                <div class="thumbail-title">Travaling Fashion </div>
                <div class="darker-image"><span>BUY NOW</span></div>
            </div>
        </div>
    </section>
</section>
<app-body></app-body>