<section class="body">
    <div class="body-inner">
        <div class="list-choosen">
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-warning">Warning</button>
        </div>
        <div class="list-item">asas</div>
    </div>
</section>