.body {
    margin-top: 50px;
    .body-inner {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        width: 100%;
        justify-content: space-between;
        .list-choosen {
            width: 20%;
            background: beige;
            display: flex;
            flex-direction: column;
            button {
                background: #cc885a;
                margin-bottom: 2px;
                &:hover {
                    background: #f0ad4e;
                }
            }
        }
        .list-item {
            width: 80%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .item {
                margin-bottom: 2vw;
                width: 30%;
                border: 1px solid #eedfdf;
                position: relative;
                .fa-heart {
                    position: absolute;
                    top: 5%;
                    right: 5%;
                    color: #fff;
                    transform: scale(1.2);
                    &:hover {
                        color: #f00;
                    }
                }
                img {
                    width: 100%;
                }
                .thumbail-title {
                    padding: 5%;
                    line-height: 1.5;
                    .price {
                        .price-title {
                            font-weight: bold;
                        }
                        .price-sale {
                            color: #f00;
                            margin-right: 5px;
                        }
                        .price-sale:first-letter {
                            text-decoration: underline;
                        }
                        .price-origin {
                            text-decoration: line-through;
                        }
                    }
                    .add-cart {
                        font-weight: bold;
                        color: #cc885a;
                        &:hover {
                            cursor: pointer;
                            text-decoration: underline;
                            color: #f00;
                        }
                    }
                }
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
    @media screen and (max-width:768px) {
        .body-inner {
            flex-direction: column;
        }
        .body-inner .list-choosen {
            width: 100%;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .body-inner .list-item {
            width: 100%;
        }
        .list-item {
            margin: 3vw auto 0;
            max-width: 90vw;
            .item {
                width: 100%!important;
            }
        }
    }
    @media screen and (min-width:769px) {
        .list-item {
            margin-left: 3vw;
        }
    }
}