<header>
    <div class="header-inner">
        <a href="" id="logo"><img src="../assets/images/logo.png"></a>
        <nav>
            <a id="navIcon"><img src="../assets/images/nav.png"></a>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Another</a></li>
            </ul>
        </nav>
    </div>
</header>
<app-search></app-search>
<app-banner></app-banner>